<mat-accordion *ngIf="showAccordion">
  <mat-expansion-panel hideToggle class="accordion">
    <mat-expansion-panel-header>
      <mat-panel-title> Filtros </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content">
      <div class="btn-options">
        <button (click)="clearFilters()" class="btn-option">LIMPAR</button>
      </div>
      <div class="row">
        <app-group-filter />
        <app-core-cpu-filter />
        <app-memory-filter />
        <app-manufacturer-filter />
      </div>
      <app-year-filter />
      <app-screen-size-filter />
      <app-phone-or-watch />
    </div>
  </mat-expansion-panel>
</mat-accordion>
