<div class="container" [ngClass]="open ? 'open' : 'closed'">
  <div class="phone" *ngIf="!open">
    <app-autocomplete-mobile-phone-selector
      [modelPosition]="1"
      [disabled]="firstSelected"
    />
    <button (click)="changeStateFirstDevice()">
      {{ !firstSelected ? "Selecionar" : "Cancelar" }}
    </button>
    <div class="device-info" *ngIf="device1 && firstSelected">
      <img [src]="getSrc(device1.src)" alt="Device 1" />
    </div>
  </div>

  <div class="phone" *ngIf="!open">
    <app-autocomplete-mobile-phone-selector
      [modelPosition]="2"
      [disabled]="secondSelected"
    />

    <button (click)="changeStateSecondDevice()">
      {{ !secondSelected ? "Selecionar" : "Cancelar" }}
    </button>

    <div class="device-info" *ngIf="device2 && secondSelected">
      <img [src]="getSrc(device2.src)" alt="Device 2" />
    </div>
  </div>
  <div class="container-comparer" *ngIf="open">
    <div class="phone-comparer">
      <div>
        <div class="device-info" *ngIf="device1 && firstSelected">
          <h3>
            {{
              device1.Model.length > 25
                ? (device1.Model | slice : 0 : 25) + "..."
                : device1.Model
            }}
          </h3>
          <img [src]="getSrc(device1.src)" alt="Device 1" class="device-img" />
        </div>
      </div>
      <div>
        <div class="device-info" *ngIf="device2 && secondSelected">
          <h3>
            {{
              device2.Model.length > 25
                ? (device2.Model | slice : 0 : 25) + "..."
                : device2.Model
            }}
          </h3>
          <img [src]="getSrc(device2.src)" alt="Device 2" class="device-img" />
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button (click)="resetSearch()">Comparar Outros</button>
    </div>
  </div>
</div>
