.chat-container {
  max-height: 300px;
  max-width: 600px;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
}

.chat-container::-webkit-scrollbar {
  width: 8px;
}

.chat-container::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 4px;
}

.chat-container::-webkit-scrollbar-thumb {
  background: #79c7e3;
  border-radius: 4px;
  border: 2px solid #e0e0e0;
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background: #5aaecb;
}

.chat-container div {
  max-width: 80%;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.user {
  align-self: flex-end;
  background: #79c7e3;
  color: white;
}

.bot {
  align-self: flex-start;
  background: #f1f1f1;
  color: black;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-container > button {
  padding: 8px 12px;
  background: linear-gradient(270deg, #79c7e3, #b29dd9, #79c7e3);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-size: 200% 200%;
  animation: gradient 1s infinite alternate-reverse;
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  25% {
    background-position: 25% 75%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 25%;
  }
  100% {
    background-position: 100% 0%;
  }
}
