<div class="search-bar" [ngClass]="{ intelligence: option === 'AI' }">
  <button
    matTooltip="{{ altText }}"
    (click)="changeView()"
    class="change-search-btn"
  >
    <span class="material-symbols-outlined ask-AI" *ngIf="option === 'Text'">
      network_intelligence
    </span>
    <mat-icon fontIcon="smartphone ask-AI" *ngIf="option === 'AI'"></mat-icon>
  </button>
  <input
    class="input-container"
    placeholder="{{ text }}"
    [(ngModel)]="searchQuery"
    (input)="onSearchChange($event)"
  />
  <div class="icon-container" (click)="!isLoading ? execute() : ''">
    <i
      class="fa-solid fa-magnifying-glass icon"
      style="font-size: 24px; color: #637587; cursor: pointer"
      *ngIf="!isLoading"
    ></i>

    <div class="spinner" *ngIf="isLoading"></div>
  </div>
</div>
