@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.search-bar {
  height: 48px;
  min-width: 160px;
  width: 928px;
  border-radius: 0px 12px 12px 0px;
  display: flex;
  background-color: #f0f2f5;
}

.icon-container {
  background-color: #f0f2f5;
  padding-left: 16px;
  border-radius: 0px 12px 12px 0px;
  width: 40px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.icon-container:hover {
  background-color: #ff0000;
}

.icon-container:hover .icon {
  color: #fff !important;
}

.icon {
  transition: 0.3s ease-in-out;
}

.input-container {
  background-color: #f0f2f5;
  display: flex;
  justify-content: left;
  /* align-content: center; */
  padding: 8px 16px 8px 8px;
  border: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #637587;
  width: 100%;
}

.ask-AI {
  /* width: 60px; */
}

.change-search-btn {
  background-color: white;
  border: none;
}
