.container {
  padding: 20px;
}

.description {
  overflow-y: auto;
  max-height: 650px;
  width: 100%;
}

.device-dialog-image{
  width: 400px;
  margin-right: 32px;
}

.content-container { 
  display: flex;
  flex: column;
  width: auto;
}
