<div #backgroundGradient class="dialog-container" style="padding: 10px">
  <div class="view">
    <div class="container" id="container">
      <div
        class="title"
        style="color: black; display: flex; align-items: center"
      >
        <h1>
          <a (click)="navigateToDevicePage()" style="cursor: pointer;">
            {{
              (dataSource?.Model?.length ?? 0) > 35
                ? dataSource?.Model?.slice(0, 35) + "..."
                : dataSource?.Model ?? ""
            }}
          </a>
        </h1>

        <span *ngIf="!loadingReport">
          <i
            class="material-icons downloadIcon"
            matTooltip="Download"
            (click)="generatePDF()"
            >download</i
          >
        </span>
        <span *ngIf="loadingReport" class="spinner-report"></span>
      </div>
      <div class="content-container">
        <div class="img-container">
          <img
            id="phoneImage"
            #phoneImage
            *ngIf="dataSource"
            (click)="navigateToDevicePage()"
            src="{{ getImageLink(dataSource.src) }}"
            alt=""
            class="device-dialog-image"
          />
        </div>

        <div class="chat-container">
          <label for="question">Faça uma pergunta sobre este device</label>
          <div class="input-group">
            <input
              id="question"
              type="text"
              [placeholder]="placeholderText"
              [(ngModel)]="userQuestion"
              [disabled]="isLoading"
              (keyup.enter)="askQuestion()"
            />
            <button
              (click)="askQuestion()"
              [disabled]="isLoading"
              [ngClass]="{ loading: isLoading }"
              class="AIbutton"
            >
              <span *ngIf="isLoading" class="spinner"></span>
              <span *ngIf="!isLoading">Perguntar</span>
            </button>
          </div>
          <div
            class="response"
            *ngIf="modelResponse"
            [innerHTML]="modelResponse | formatText"
          >
            {{ modelResponse }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
